/* Body styles */
body {
  background-color: #1c2023;
  color: #d9d9d9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Image styles */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%
}

/* Header styles */
h1.important {
  font-size: 36px;
  font-weight: bold;
  margin: 50px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

h2.intro {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

/* Paragraph styles */
p {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 40px;
  text-align: justify;
}

ul {
  list-style: disc;
  padding: 0;
  margin: 30px 60px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #c7c7c7;
  text-decoration: none;
}

a:hover {
  color: #cd6464;
  text-decoration: underline;
}

div {
  margin: 20px 40px;
  color: #cd6464;
}

/* Director image styles */
.directorImage {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 200px;
}





/* .directorImage {
  float: right;
} */